:root {
    --primary: #272d91;
    --tertiary: #F5004F;
    --teal: #20c997;
    --gray-dark: #343a40;
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Roboto", sans-serif;
    --font-secondary: "Work Sans", sans-serif;
}
:root {
    scroll-behavior: smooth;
}

html {
  font-size: 14px;
  scroll-behavior:smooth;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  
  font-family: var(--font-default)
}
a{
    text-decoration:none;
}
body h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary)
}



/*footer*/

.footer {
    background-color: var(--gray-dark);
    padding: 20px;
    color: white;
    position: relative;
}
.footer .row{
        color:white;
        width:100%;
}
    
.footer .additional-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer .additional-links a:hover {
    color: #007bff;
}
.footer .contact-info,
.footer .social-links,
.footer .additional-links {
    margin-bottom: 20px;
}

.footer .contact-info h4,
.footer .social-links h4,
.footer .additional-links h4 {
    margin-bottom: 15px;
    font-size: 1.25rem;
}
.footer .contact-info h4::after,
.footer .social-links h4::after,
.footer .additional-links h4::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #007bff;
    margin-top: 10px;
}

.footer .social-links a {
    color: white;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.footer .social-links a:hover {
    color: #007bff;
}
.footer .col.text-center {
    font-size: 0.875rem;
}

@media (min-width: 768px) {
    .footer .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .footer .contact-info,
    .footer .social-links,
    .footer .additional-links {
        margin-bottom: 0;
    }

    .footer .row.mt-4 {
        margin-top: 20px;
    }
}
