@{
    ViewData["Title"] = "Media";
}

<!-- Breadcrumbs -->
<nav class="breadcrumbs">
   <a href="/">Home</a> / <a href="#">Media</a> / Gallery
</nav>

<!-- Gallery Section -->
<section class="gallery-section">
    <div class="container">
        <div class="section-header mb-4" data-aos="fade-up">
            <h3>Gallery</h3>
            <p>Explore moments captured from our various events and activities.</p>
        </div>

        <div class="row">
            <!-- Example gallery items -->
            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                <div class="gallery-item">
                    <img src="~/images/11.jpg" class="img-fluid rounded" alt="Gallery Image 1">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                <div class="gallery-item">
                    <img src="~/images/12.jpg" class="img-fluid rounded" alt="Gallery Image 2">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                <div class="gallery-item">
                    <img src="~/images/13.jpg" class="img-fluid rounded" alt="Gallery Image 3">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                <div class="gallery-item">
                    <img src="~/images/13.jpg" class="img-fluid rounded" alt="Gallery Image 3">
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up">
                <div class="gallery-item">
                    <img src="~/images/14.jpg" class="img-fluid rounded" alt="Gallery Image 3">
                </div>
            </div>
            <!-- Add more gallery items as needed -->
        </div>
    </div>
</section>

<!-- Videos Section -->
<section class="videos-section py-5 bg-light">
    <div class="container">
        <div class="section-header mb-4" data-aos="fade-up">
            <h3>Videos</h3>
            <p>Watch our latest videos showcasing our initiatives and impact.</p>
        </div>

        <div class="row">
            <!-- Example video items -->
            <div class="col-lg-6 mb-4" data-aos="fade-up">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/examplevideo1" allowfullscreen></iframe>
                </div>
                <p class="mt-2">Video Title 1</p>
            </div>
            <div class="col-lg-6 mb-4" data-aos="fade-up">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/examplevideo2" allowfullscreen></iframe>
                </div>
                <p class="mt-2">Video Title 2</p>
            </div>
            <!-- Add more video items as needed -->
        </div>
    </div>
</section>
